.sub-section {
    height: calc(100vh);
}

.section-title{
    font-family: var(--header-font-family);
    font-size: var(--header-title3-size);
    line-height: 80px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.about-container{
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    --bs-gutter-x: 0;
}

.about-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image{
    background-image: url("../media/B612_20190105_094656_487.jpg");
    background-position: center center;
    background-size: cover;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.about-description{
    font-size: var(--text-L-size);
    font-family: var(--text-font-family);
    text-align: justify;
    padding: 20px;
    margin: 80px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.skill-container{
    margin: 80px;
}

.skill-icon-container{
    margin: 40px;
}

.skill-icon{
    font-size: var(--header-title1-size);
}

@media (max-width:992px) {
    .section-title{
        font-family: var(--header-font-family);
        font-size: var(--header-title4-size);
        line-height: 40px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }

    .about-container{
        height: calc(100vh - 40px);
    }

    .about-image{
        width: 250px;
        height: 250px;
    }

    .about-description{
        font-size: var(--text-M-size);
        margin: 40px;
    }

    .skill-container{
        margin: 40px;
    }

    .skill-icon-container{
        margin: 20px;
    }

    .skill-icon{
        font-size: var(--header-title2-size);
    }
}

@media (max-width:576px) {
    .about-image{
        width: 200px;
        height: 200px;
    }

    .about-description{
        font-size: var(--text-M-size);
        margin: 40px;
    }

    .skill-container{
        margin: 10px;
    }

    .skill-icon-container{
        margin: 20px;
    }

    .skill-icon{
        font-size: var(--header-title3-size);
    }
}

@media (max-width:390px) {
    .about-image{
        width: 150px;
        height: 150px;
    }

    .about-description{
        font-size: var(--text-M-size);
        margin: 40px;
    }
}