* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-ligth:#FFFFFF;
    --background-dark: #000000;
    --background-color:#00E0FF;
    --background-menu-responisve-color: #2c3e50;

    --font-color-white: #FFFFFF;
    --font-color-black: #000000;
    --font-color-green: #0DFF00;

    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;

    --text-L-size: 24px;
    --text-M-size: 18px;
    --text-S-size: 14px;
    --text-XS-size: 11px;

    --header-title1-size: 64px;
    --header-title2-size: 56px;
    --header-title3-size: 40px;
    --header-title4-size: 32px;

    --text-font-family:'Crimson Pro', serif;
    --header-font-family:'Quicksand', sans-serif;
}