.footer-section {
    height: calc(100vh / 2);
}

.footer-container{
    height: calc(100vh / 2 - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark{
    background-color: var(--background-dark);
    color: var(--font-color-white);
}

.footer-icon{
    color: var(--font-color-white);
}

#github-icon{
    font-size: var(--header-title1-size);
}

#mail-icon{
    color: var(--font-color-white);
}

#mail-icon:hover {
    color: #990000;
}

#github-icon:hover {
    color: #990073;
}

.footer-title{
    font-family: var(--header-font-family);
    font-size: var(--header-title3-size);
    color: var(--font-color-green);
    line-height: 80px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
}

@media (max-width: 992px) {
    .footer-title{
        font-family: var(--header-font-family);
        font-size: var(--header-title4-size);
        line-height: 40px;
        box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
    }

    #github-icon{
        font-size: var(--header-title2-size);
    }
}
@media (max-width:576px) {

    #github-icon{
        font-size: var(--header-title3-size);
    }
}