.header{
    background-color: var(--background-dark);
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-family: var(--text-font-family);
    color: var(--font-color-green);
    font-size: var(--text-L-size);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 80px;
    margin: 0 80px;
}

.nav-menu{
    display: flex;
    list-style: none;
    margin: 0 80px;
}

.nav-menu-item{
    color: var(--font-color-white);
    font-family: var(--text-font-family);
    font-size: var(--text-M-size);
    text-decoration: none;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    margin: 16px;
    position: relative;
}

.nav-menu-item:after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--font-color-green);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}

.nav-menu-item:hover{
    color:var(--font-color-green);
}

.nav-menu-item:hover:after{
    width: 100%;
    right: 0;
}

.nav-menu-item-active{
    color:var(--font-color-green);
}

.nav-menu-item-active:after{
    width: 100%;
    right: 0;
}

.nav-toogle{
    color: var(--font-color-white);
    background: none;
    border: none;
    font-size: var(--text-L-size);
    margin: 0 80px;
    display: none;
}

.nav-toogle:hover{
    color: var(--font-color-green);
}

@media(max-width: 992px){

    .header{
        height: 40px;
    }

    .logo{
        font-size: var(--text-M-size);
        line-height: 40px;
        margin: 0 40px;
    }

    .nav-menu-item{
        font-size: var(--text-S-size);
        line-height: 40px;
    }
}

@media (max-width: 768px) {

    .header{
        height: 40px;
    }
    
    .logo{
        font-size: var(--text-M-size);
        line-height: 40px;
        margin: 0 40px;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        background-color: var(--background-menu-responisve-color);
        position: fixed;
        margin-left: 0;
        top: 40px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 40px);
        overflow-y: auto ;
        left: 100%;
        transition: left .3s;
    }
    
    .nav-menu-item{
        font-size: var(--text-S-size);
        line-height: 50px;
        position: relative;
    }
    
    .nav-toogle{
        font-size: var(--text-M-size);
        margin: 0 40px;
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }

    .nav-toogle:focus:not(:focus-visible){
        outline: none;
    }

}